doctype html

html
  head
    title Best Gym in the World 
   
    block style
  body
    nav#navbar 
        div#logo
            img(src="/static/dance nav logo.png", alt="")
        div#heading 
            h4 Best Dance 
            h4 Academy
        ul#navigation 
         li #[a(href="/") home] 
         li #[a(href="#") about us] 
         li #[a(href="/contact.pug") contact us]  
         li #[a(href="#") services] 
    block content
    footer#footer 
     |Copywright@2023 Heros Dance academey |All Right Reserved

     