extends base.pug

block style
    style 
        include ../static/style.css
        include ../static/contactstyle.css


block content
    .contactus
      h3 contact us
      form#contactform(action='',method="post")
        input(type='text', name='name', placeholder='Enter your name')
        input(type='text', name='phone', placeholder='Enter your phone number')
        input(type='email', name='email', placeholder='Enter your email Id')
        textarea(name='address', id='', cols='30', rows='10', placeholder='enter your address')
        textarea(name='concern', id='', cols='30', rows='10', placeholder='enter your concern')
        button.btn Submit


